.container-hero {
    margin: auto;
    max-width: 1200px;
    height: fit-content;
    width: 90%;
    margin-top: 100px;

}

.hero {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: $lg) {
        flex-direction: row;
        padding: 30px 0px 30px 0px;
        gap: 150px;
        justify-content: space-between;
    }
}

.hero__left {
    display: flex;
    flex-direction: column;

    @media (min-width: $md) {
        padding-top: 40px;
    }
}

.hero__left-title {
    text-transform: uppercase;
    font-size: 2rem;
    color: $gray-3;
    font-weight: $fw-regular;
}

.hero__left-perex {
    color: $white;
    font-size: 1rem;
    margin-top: 25px;
}

.hero__left-button {
    text-transform: uppercase;
    color: $white;
    background: $green-1;
    padding: 10px 67px;
    width: fit-content;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 35px;

    &:hover {
        background: $gray-2;
    }
}

.hero__right {
    width: fit-content;

    @media (min-width: $md) {
        height: 400px;
    }

    img {
        width: 100%;
        object-fit: cover; 

        @media (min-width: $md) {
            height: 100%;
            width: auto;
        }
    }
}